{% load static from staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="openspace landing page">
  <meta name="author" content="solsky">

  <title>openspace - One stop community app</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">  


  <!-- Custom styles for this template -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="#page-top" style="margin:auto">
        Cafe near you
      </a>
    </div>
  </nav>

  <div class="col-xs-12 card-class-container">
    <div class="card-class-content">
        <div class="card-class-image">
          <img height="350" style="width:100%;object-fit: cover;"src="{% static 'image/3.jpeg' %}" />
        </div>
        <div class="card-class-text">
          <div style="
          font-size: 25px;
          margin: 10px;
      ">
            Ochayya Mitte
          </div>
          <div style="
          margin: 10px;
          font-size: 12px;
      ">
             53-6 Namil-dong, Jung-gu, Daegu
          </div>
          <div style="
          margin: 10px;">
            Available seats : 5
          </div>
          <div style="        
            margin: 10px;
            color: #e84118;
            font-family: 'sailec-medium';
            font-size: 1.5em;
          ">
            Discount : 2.500 Won
          </div>
          <div style="
          margin: 10px;
          float: right;
          background-color: #e84118;
          padding: 10px 20px;
          font-family: 'Sailec-bold';
          color: white;
          border-radius: 10px;
      ">Book with discount</div>
        </div>
      </div>
      <div class="card-class-content">
          <div class="card-class-image">
            <img height="350" style="width:100%;object-fit: cover;"src="{% static 'image/1.jpeg' %}" />
          </div>
          <div class="card-class-text">
            <div style="
            font-size: 25px;
            margin: 10px;
        ">
              Hollys Cafe
            </div>
            <div style="
            margin: 10px;
            font-size: 12px;
        ">
              32 Dongseong-ro 6-gil, Seongnae 1(il)-dong · 053-255-8231
            </div>
            <div style="
            margin: 10px;">
              Available seats : <div id="theseat">0</div>
            </div>
            <div style="        
              margin: 10px;
              color: #e84118;
              font-family: 'sailec-medium';
              font-size: 1.5em;
            ">
              Discount : <div id="theval">5000</div> Won
            </div>
            <input type="button" id="thebtn" style="
            margin: 10px;
            float: right;
            background-color: #e84118;
            padding: 10px 20px;
            font-family: 'Sailec-bold';
            color: white;
            border-radius: 10px;
        " value="Book with discount">
          </div>
        </div>
      <div class="card-class-content">
          <div class="card-class-image">
            <img height="350" style="width:100%;object-fit: cover;"src="{% static 'image/2.jpeg' %}" />
          </div>
          <div class="card-class-text">
            <div style="
            font-size: 25px;
            margin: 10px;
        ">
              Cafe Alley
            </div>
            <div style="
            margin: 10px;
            font-size: 12px;
        ">
              Jung-gu, Daegu
            </div>
            <div style="
            margin: 10px;">
              Available seats : 1
            </div>
            <div style="        
              margin: 10px;
              color: #e84118;
              font-family: 'sailec-medium';
              font-size: 1.5em;
            ">
              Discount : 1.000 Won
            </div>
            <div style="
            margin: 10px;
            float: right;
            background-color: #e84118;
            padding: 10px 20px;
            font-family: 'Sailec-bold';
            color: white;
            border-radius: 10px;
        ">Book with discount</div>
          </div>
        </div>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
    <script src="{% static 'js/main.js' %}" ></script>
  <script>
  $('#thebtn').click(function(){
    Swal.fire(
      'Congratulations',
      'You got 5.000 Won coupon and your seat is booked',
      'success'
    )
  });

  



  setInterval(function(){
    $.ajax({
    url: 'http://openspacelnp.herokuapp.com/api/robot/todo/',
    type: "GET",
    dataType: "json",
    success: function (data) {
        $('#theseat').text(data[5].description)
        if (parseInt($('#theseat').text())<8){
        $('#theval').text('2500')
        }
      }
    });
  },2000)
  </script>
</body>

</html>
